@model IEnumerable<Perpustakaan.Models.KondisiBuku>

@{
    ViewData["Title"] = "Index";
}

<h2>Kondisi Buku</h2>

<p>
    <a asp-action="Create">Tambah Data</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamaKondisi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaKondisi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NoKondisi">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NoKondisi">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NoKondisi">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
