@model IEnumerable<Perpustakaan.Models.KatalogBuku>

@{
    ViewData["Title"] = "Index";
}

<h2>Katalog Buku</h2>

<p>
    <a asp-action="Create">Tambah Data</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JenisKatalog)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JenisKatalog)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NoKatalog">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NoKatalog">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NoKatalog">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
