@model Perpustakaan.Models.Mahasiswa

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Mahasiswa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nama)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nama)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoHp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoHp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alamat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoGenderNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoGenderNavigation.NoGender)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NoAnggota" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
