@model Perpustakaan.Models.Peminjaman

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Peminjaman</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TglPeminjaman)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglPeminjaman)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoAnggotaNavigation.Nama)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoAnggotaNavigation.Nama)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoBukuNavigation.JudulBuku)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoBukuNavigation.JudulBuku)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NoPeminjaman">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
