@model Perpustakaan.Models.Pengembalian

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pengembalian</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TglPengembalian)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglPengembalian)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Denda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Denda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoKondisiNavigation.NamaKondisi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoKondisiNavigation.NamaKondisi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoPeminjamanNavigation.NoPeminjaman)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoPeminjamanNavigation.NoPeminjaman)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NoPengembalian">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
